.newImageForm {
  padding: 10px 30px;
  margin-bottom: 10px;
  text-align: right;
  background-color: #eee;
}
.newImageForm label {
  padding-right: 10px;
}

form h4 {
  color: #333;
}

.featImageDisplay {
  width: 600px;
  height: 400px;
  background-color: #eee;
  font-size: 30px;
  color: #aaa;
  text-align: center;
  line-height: 400px;
}

.list-group-item {
  font-size: 18px;
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}

.featImageName {
  padding-left: 10px;
  color: #333;
}

.rating {
  direction: rtl;
  color: #eee;
  font-size: 24px;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #DAA520;
}